.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.dropdown-label .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgb(233, 30, 99);
}

.dropdown-label .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgb(233, 30, 99);
}

.dropdown-label .MuiFormLabel-root.Mui-focused {
    color: white; /* Change label color to white when focused */
}

.dropdown-label .MuiInputLabel-shrink {
    color: white; /* Ensure label color remains white when focused */
}

.dropdown-label .MuiInputLabel-root {
    color: rgb(233, 30, 99); /* Set initial label color */
}

.dropdown-label .MuiInputLabel-root.MuiInputLabel-shrink {
    color: white !important; /* Ensure label color remains white when an option is selected */
}
